<?xml version="1.0"?>
<AdminSettings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <DefaultPageText1>Welcome To</DefaultPageText1>
  <DefaultPageText2>KTSInfotech</DefaultPageText2>
  <headerText>Header</headerText>
  <footerText>Footer</footerText>
</AdminSettings>